In [1]:
!pip install extract-wc-data

Defaulting to user installation because normal site-packages is not writeable
Collecting extract-wc-data
  Downloading extract_wc_data-0.0.1-py3-none-any.whl.metadata (763 bytes)
Collecting chromedriver-binary (from extract-wc-data)
  Downloading chromedriver_binary-130.0.6710.0.0.tar.gz (5.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests==2.31.0 in c:\programdata\anaconda3\lib\site-packages (from extract-wc-data) (2.31.0)
Collecting selenium==4.15.2 (from extract-wc-data)
  Downloading selenium-4.15.2-py3-none-any.whl.metadata (6.9 kB)
Collecting six==1.14.0 (from extract-wc-data)
  Downloading six-1.14.0-py2.py3-none-any.whl.metadata (1.8 kB)
Collecting pandas==2.0.0 (from extract-wc-data)
  Downloading pandas-2.0.0-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.0.0->extract-wc-data) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.0.0->extract-wc-data) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.0.0->extract-wc-data) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas==2.0.0->extract-wc-data) (1.26.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests==2.31.0->extract-wc-data) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests==2.31.0->extract-wc-data) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests==2.31.0->extract-wc-data) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests==2.31.0->extract-wc-data) (2024.2.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python311\site-packages (from selenium==4.15.2->extract-wc-data) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python311\site-packages (from selenium==4.15.2->extract-wc-data) (0.11.1)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium==4.15.2->extract-wc-data) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.15.2->extract-wc-data) (2.4.0)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium==4.15.2->extract-wc-data) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.15.2->extract-wc-data) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.15.2->extract-wc-data) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium==4.15.2->extract-wc-data) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium==4.15.2->extract-wc-data) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium==4.15.2->extract-wc-data) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium==4.15.2->extract-wc-data) (0.14.0)
Downloading extract_wc_data-0.0.1-py3-none-any.whl (3.1 kB)
Downloading pandas-2.0.0-cp311-cp311-win_amd64.whl (11.2 MB)
   ---------------------------------------- 0.0/11.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.2 MB 653.6 kB/s eta 0:00:17
   ---------------------------------------- 0.1/11.2 MB 717.5 kB/s eta 0:00:16
    --------------------------------------- 0.1/11.2 MB 774.0 kB/s eta 0:00:15
    --------------------------------------- 0.1/11.2 MB 774.0 kB/s eta 0:00:15
    --------------------------------------- 0.1/11.2 MB 774.0 kB/s eta 0:00:15
    --------------------------------------- 0.1/11.2 MB 774.0 kB/s eta 0:00:15
    --------------------------------------- 0.2/11.2 MB 600.7 kB/s eta 0:00:19
    --------------------------------------- 0.2/11.2 MB 600.7 kB/s eta 0:00:19
    --------------------------------------- 0.3/11.2 MB 563.9 kB/s eta 0:00:20
   - -------------------------------------- 0.3/11.2 MB 595.3 kB/s eta 0:00:19
   - -------------------------------------- 0.4/11.2 MB 691.2 kB/s eta 0:00:16
   - -------------------------------------- 0.4/11.2 MB 707.4 kB/s eta 0:00:16
   - -------------------------------------- 0.4/11.2 MB 707.4 kB/s eta 0:00:16
   - -------------------------------------- 0.4/11.2 MB 707.4 kB/s eta 0:00:16
   - -------------------------------------- 0.5/11.2 MB 726.3 kB/s eta 0:00:15
   -- ------------------------------------- 0.6/11.2 MB 721.9 kB/s eta 0:00:15
   -- ------------------------------------- 0.6/11.2 MB 721.9 kB/s eta 0:00:15
   -- ------------------------------------- 0.7/11.2 MB 774.0 kB/s eta 0:00:14
   -- ------------------------------------- 0.7/11.2 MB 812.9 kB/s eta 0:00:13
   -- ------------------------------------- 0.7/11.2 MB 812.9 kB/s eta 0:00:13
   -- ------------------------------------- 0.7/11.2 MB 812.9 kB/s eta 0:00:13
   --- ------------------------------------ 0.9/11.2 MB 823.6 kB/s eta 0:00:13
   --- ------------------------------------ 0.9/11.2 MB 805.0 kB/s eta 0:00:13
   --- ------------------------------------ 0.9/11.2 MB 821.0 kB/s eta 0:00:13
   --- ------------------------------------ 0.9/11.2 MB 821.0 kB/s eta 0:00:13
   --- ------------------------------------ 1.1/11.2 MB 856.8 kB/s eta 0:00:12
   --- ------------------------------------ 1.1/11.2 MB 841.2 kB/s eta 0:00:13
   ---- ----------------------------------- 1.2/11.2 MB 878.4 kB/s eta 0:00:12
   ---- ----------------------------------- 1.2/11.2 MB 903.5 kB/s eta 0:00:11
   ---- ----------------------------------- 1.4/11.2 MB 972.2 kB/s eta 0:00:11
   ----- ---------------------------------- 1.6/11.2 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.2 MB 1.2 MB/s eta 0:00:08
   ------ --------------------------------- 1.9/11.2 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.0/11.2 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.2/11.2 MB 1.3 MB/s eta 0:00:07
   -------- ------------------------------- 2.3/11.2 MB 1.4 MB/s eta 0:00:07
   -------- ------------------------------- 2.4/11.2 MB 1.4 MB/s eta 0:00:07
   -------- ------------------------------- 2.5/11.2 MB 1.4 MB/s eta 0:00:07
   -------- ------------------------------- 2.5/11.2 MB 1.4 MB/s eta 0:00:07
   -------- ------------------------------- 2.5/11.2 MB 1.4 MB/s eta 0:00:07
   --------- ------------------------------ 2.7/11.2 MB 1.4 MB/s eta 0:00:07
   --------- ------------------------------ 2.7/11.2 MB 1.4 MB/s eta 0:00:07
   --------- ------------------------------ 2.7/11.2 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 2.8/11.2 MB 1.4 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.2 MB 1.4 MB/s eta 0:00:06
   ---------- ----------------------------- 2.9/11.2 MB 1.4 MB/s eta 0:00:06
   ---------- ----------------------------- 3.0/11.2 MB 1.4 MB/s eta 0:00:06
   ----------- ---------------------------- 3.2/11.2 MB 1.4 MB/s eta 0:00:06
   ----------- ---------------------------- 3.3/11.2 MB 1.4 MB/s eta 0:00:06
   ------------ --------------------------- 3.5/11.2 MB 1.5 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.2 MB 1.6 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/11.2 MB 1.6 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/11.2 MB 1.6 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/11.2 MB 1.6 MB/s eta 0:00:05
   ------------- -------------------------- 3.7/11.2 MB 1.6 MB/s eta 0:00:05
   -------------- ------------------------- 4.0/11.2 MB 1.6 MB/s eta 0:00:05
   -------------- ------------------------- 4.0/11.2 MB 1.5 MB/s eta 0:00:05
   -------------- ------------------------- 4.1/11.2 MB 1.5 MB/s eta 0:00:05
   --------------- ------------------------ 4.3/11.2 MB 1.6 MB/s eta 0:00:05
   --------------- ------------------------ 4.5/11.2 MB 1.6 MB/s eta 0:00:05
   ---------------- ----------------------- 4.6/11.2 MB 1.6 MB/s eta 0:00:05
   ---------------- ----------------------- 4.7/11.2 MB 1.7 MB/s eta 0:00:04
   ----------------- ---------------------- 5.0/11.2 MB 1.7 MB/s eta 0:00:04
   ------------------ --------------------- 5.1/11.2 MB 1.7 MB/s eta 0:00:04
   ------------------ --------------------- 5.2/11.2 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.4/11.2 MB 1.8 MB/s eta 0:00:04
   ------------------- -------------------- 5.6/11.2 MB 1.8 MB/s eta 0:00:04
   ------------------- -------------------- 5.6/11.2 MB 1.8 MB/s eta 0:00:04
   ------------------- -------------------- 5.6/11.2 MB 1.8 MB/s eta 0:00:04
   -------------------- ------------------- 5.8/11.2 MB 1.8 MB/s eta 0:00:04
   --------------------- ------------------ 5.9/11.2 MB 1.8 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.2 MB 1.8 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.2 MB 1.8 MB/s eta 0:00:03
   --------------------- ------------------ 6.1/11.2 MB 1.8 MB/s eta 0:00:03
   ---------------------- ----------------- 6.4/11.2 MB 1.8 MB/s eta 0:00:03
   ---------------------- ----------------- 6.4/11.2 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 6.5/11.2 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 6.6/11.2 MB 1.8 MB/s eta 0:00:03
   ------------------------ --------------- 6.7/11.2 MB 1.8 MB/s eta 0:00:03
   ------------------------ --------------- 6.8/11.2 MB 1.9 MB/s eta 0:00:03
   ------------------------ --------------- 7.0/11.2 MB 1.9 MB/s eta 0:00:03
   ------------------------- -------------- 7.1/11.2 MB 1.9 MB/s eta 0:00:03
   ------------------------- -------------- 7.2/11.2 MB 1.9 MB/s eta 0:00:03
   -------------------------- ------------- 7.3/11.2 MB 1.9 MB/s eta 0:00:03
   -------------------------- ------------- 7.5/11.2 MB 1.9 MB/s eta 0:00:02
   --------------------------- ------------ 7.6/11.2 MB 1.9 MB/s eta 0:00:02
   --------------------------- ------------ 7.7/11.2 MB 1.9 MB/s eta 0:00:02
   --------------------------- ------------ 7.7/11.2 MB 1.9 MB/s eta 0:00:02
   ---------------------------- ----------- 7.9/11.2 MB 1.9 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.2 MB 2.0 MB/s eta 0:00:02
   ----------------------------- ---------- 8.2/11.2 MB 2.0 MB/s eta 0:00:02
   ----------------------------- ---------- 8.3/11.2 MB 2.0 MB/s eta 0:00:02
   ------------------------------ --------- 8.5/11.2 MB 2.0 MB/s eta 0:00:02
   ------------------------------ --------- 8.6/11.2 MB 2.0 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.2 MB 2.0 MB/s eta 0:00:02
   ------------------------------- -------- 8.8/11.2 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.2 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 9.1/11.2 MB 2.0 MB/s eta 0:00:02
   --------------------------------- ------ 9.5/11.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.6/11.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.2 MB 2.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.8/11.2 MB 2.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.9/11.2 MB 2.0 MB/s eta 0:00:01
   ----------------------------------- ---- 10.0/11.2 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.2 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.2 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.2 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.2 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.2 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.2 MB 2.2 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.2 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.2 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.2 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 11.2/11.2 MB 2.4 MB/s eta 0:00:00
Downloading selenium-4.15.2-py3-none-any.whl (10.2 MB)
   ---------------------------------------- 0.0/10.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.2 MB 2.6 MB/s eta 0:00:04
   - -------------------------------------- 0.3/10.2 MB 3.4 MB/s eta 0:00:03
   - -------------------------------------- 0.5/10.2 MB 3.5 MB/s eta 0:00:03
   -- ------------------------------------- 0.6/10.2 MB 3.2 MB/s eta 0:00:03
   -- ------------------------------------- 0.7/10.2 MB 3.4 MB/s eta 0:00:03
   --- ------------------------------------ 0.9/10.2 MB 3.1 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/10.2 MB 3.0 MB/s eta 0:00:04
   ---- ----------------------------------- 1.1/10.2 MB 3.1 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.2 MB 2.8 MB/s eta 0:00:04
   ----- ---------------------------------- 1.5/10.2 MB 3.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.5/10.2 MB 3.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.6/10.2 MB 3.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.6/10.2 MB 3.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.6/10.2 MB 3.1 MB/s eta 0:00:03
   -------- ------------------------------- 2.0/10.2 MB 3.0 MB/s eta 0:00:03
   -------- ------------------------------- 2.2/10.2 MB 3.1 MB/s eta 0:00:03
   --------- ------------------------------ 2.3/10.2 MB 3.0 MB/s eta 0:00:03
   --------- ------------------------------ 2.5/10.2 MB 3.1 MB/s eta 0:00:03
   ---------- ----------------------------- 2.6/10.2 MB 3.0 MB/s eta 0:00:03
   ---------- ----------------------------- 2.7/10.2 MB 3.0 MB/s eta 0:00:03
   ----------- ---------------------------- 2.8/10.2 MB 3.0 MB/s eta 0:00:03
   ----------- ---------------------------- 3.0/10.2 MB 3.0 MB/s eta 0:00:03
   ------------ --------------------------- 3.1/10.2 MB 3.0 MB/s eta 0:00:03
   ------------- -------------------------- 3.6/10.2 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.6/10.2 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.6/10.2 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.6/10.2 MB 3.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.6/10.2 MB 3.2 MB/s eta 0:00:03
   --------------- ------------------------ 4.0/10.2 MB 3.0 MB/s eta 0:00:03
   ----------------- ---------------------- 4.3/10.2 MB 3.2 MB/s eta 0:00:02
   ----------------- ---------------------- 4.4/10.2 MB 3.1 MB/s eta 0:00:02
   ----------------- ---------------------- 4.5/10.2 MB 3.0 MB/s eta 0:00:02
   ------------------ --------------------- 4.6/10.2 MB 3.1 MB/s eta 0:00:02
   ------------------- -------------------- 4.9/10.2 MB 3.2 MB/s eta 0:00:02
   -------------------- ------------------- 5.1/10.2 MB 3.2 MB/s eta 0:00:02
   --------------------- ------------------ 5.4/10.2 MB 3.3 MB/s eta 0:00:02
   ---------------------- ----------------- 5.7/10.2 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.0/10.2 MB 3.5 MB/s eta 0:00:02
   ------------------------ --------------- 6.3/10.2 MB 3.5 MB/s eta 0:00:02
   ------------------------- -------------- 6.5/10.2 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 6.6/10.2 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 6.6/10.2 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 6.6/10.2 MB 3.3 MB/s eta 0:00:02
   --------------------------- ------------ 7.0/10.2 MB 3.5 MB/s eta 0:00:01
   ---------------------------- ----------- 7.3/10.2 MB 3.6 MB/s eta 0:00:01
   ---------------------------- ----------- 7.3/10.2 MB 3.5 MB/s eta 0:00:01
   ----------------------------- ---------- 7.4/10.2 MB 3.5 MB/s eta 0:00:01
   ----------------------------- ---------- 7.6/10.2 MB 3.5 MB/s eta 0:00:01
   ------------------------------ --------- 7.9/10.2 MB 3.5 MB/s eta 0:00:01
   ------------------------------- -------- 8.1/10.2 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 8.4/10.2 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 8.7/10.2 MB 3.7 MB/s eta 0:00:01
   ------------------------------------ --- 9.2/10.2 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 9.5/10.2 MB 3.9 MB/s eta 0:00:01
   ------------------------------------- -- 9.6/10.2 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.0/10.2 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.0/10.2 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.2/10.2 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  10.2/10.2 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 10.2/10.2 MB 3.8 MB/s eta 0:00:00
Downloading six-1.14.0-py2.py3-none-any.whl (10 kB)
Building wheels for collected packages: chromedriver-binary
  Building wheel for chromedriver-binary (setup.py): started
  Building wheel for chromedriver-binary (setup.py): finished with status 'done'
  Created wheel for chromedriver-binary: filename=chromedriver_binary-130.0.6710.0.0-py3-none-any.whl size=8841235 sha256=1a3d152d8679d8a658df132801eac69271d8b2a2bb5b3af0471c043b8e708cfd
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\a3\32\1a\9ca8c0cece2a90d7a16c312b664cab4902a1a6c5fe046d0906
Successfully built chromedriver-binary
Installing collected packages: chromedriver-binary, six, pandas, selenium, extract-wc-data
  Attempting uninstall: selenium
    Found existing installation: selenium 4.23.1
    Uninstalling selenium-4.23.1:
      Successfully uninstalled selenium-4.23.1
Successfully installed chromedriver-binary-130.0.6710.0.0 extract-wc-data-0.0.1 pandas-2.0.0 selenium-4.15.2 six-1.14.0

  WARNING: The script chromedriver-path.exe is installed in 'C:\Users\hp\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.75 requires requests_mock, which is not installed.
anaconda-client 1.12.3 requires six>=1.15.0, but you have six 1.14.0 which is incompatible.
conda-repo-cli 1.0.75 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
world_cup = pd.read_csv("ODI Rankings - World_cup_2023 (1).csv")

In [5]:
world_cup.head()

,Team_name,Team_ranking,Titles,Win_percentage_ODI,WC_matches,WC_match_won,Win_percent_WC,WC_match_loss,Loss_percent_WC,Tied,No_result,World_cup_winner,Recent_points,Rating
0,India,1,2,52.83,96,63,66.31,30,31.25,1,2,Yes,5298,118
1,Australia,2,6,60.90,107,78,72.89,26,24.29,1,2,Yes,3936,116
2,South Africa,3,0,61.01,74,45,60.81,26,35.13,2,1,No,3357,112
3,Pakistan,4,1,52.78,89,49,55.05,37,41.57,0,3,Yes,2762,106
4,New Zealand,5,0,45.99,100,59,59.00,39,39.00,0,2,No,3349,101

In [6]:
results=pd.read_csv("Results (2015-2024) - results.csv")

In [7]:
results.head()

,Date,Team_1,Team_2,Winner,Margin,Ground
0,17-04-2015,Bangladesh,Pakistan,Bangladesh,won by 79 runs,Shere Bangla National Stadium
1,19-04-2015,Bangladesh,Pakistan,Bangladesh,won by 7 wickets,Shere Bangla National Stadium
2,22-04-2015,Bangladesh,Pakistan,Bangladesh,won by 8 wickets,Shere Bangla National Stadium
3,08-05-2015,Ireland,England,No result,No result,The Village
4,26-05-2015,Pakistan,Zimbabwe,Pakistan,won by 41 runs,Gaddafi Stadium

In [8]:
print(f'World_cup data shape  : {world_cup.shape}')
print(f'Results data shape  : {results.shape}')

World_cup data shape  : (10, 14)
Results data shape  : (861, 6)

In [9]:
results.drop(columns=['Date','Margin', 'Ground'], axis=1, inplace=True)
results.head()

       Team_1    Team_2      Winner
0  Bangladesh  Pakistan  Bangladesh
1  Bangladesh  Pakistan  Bangladesh
2  Bangladesh  Pakistan  Bangladesh
3     Ireland   England   No result
4    Pakistan  Zimbabwe    Pakistan

In [10]:
world_cup_teams = ['England' , 'South Africa' , 'West Indies' , 'Pakistan', 'New Zealand' ,
                   'Sri Lanka', 'Afganistan', 'Australia', 'Bangladesh', 'India']

In [11]:
df_teams_1 = results[results['Team_1'].isin(world_cup_teams)]
df_teams_2 = results[results['Team_2'].isin(world_cup_teams)]
df_winners = results[results['Winner'].isin(world_cup_teams)]

df_team = pd.concat((df_teams_1, df_teams_2, df_winners), axis=0)

df_team.head()

       Team_1    Team_2      Winner
0  Bangladesh  Pakistan  Bangladesh
1  Bangladesh  Pakistan  Bangladesh
2  Bangladesh  Pakistan  Bangladesh
4    Pakistan  Zimbabwe    Pakistan
5    Pakistan  Zimbabwe    Pakistan

In [12]:
df_team.loc[:,'Winning'] = np.where(df_team['Winner']==df_team['Team_1'],1,2)
df_team.head()

       Team_1    Team_2      Winner  Winning
0  Bangladesh  Pakistan  Bangladesh        1
1  Bangladesh  Pakistan  Bangladesh        1
2  Bangladesh  Pakistan  Bangladesh        1
4    Pakistan  Zimbabwe    Pakistan        1
5    Pakistan  Zimbabwe    Pakistan        1

In [13]:
df_team.drop(columns=['Winner'], axis=1, inplace=True)
df_team.head()

       Team_1    Team_2  Winning
0  Bangladesh  Pakistan        1
1  Bangladesh  Pakistan        1
2  Bangladesh  Pakistan        1
4    Pakistan  Zimbabwe        1
5    Pakistan  Zimbabwe        1

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [15]:
#Apply the encoding
df_team= pd.get_dummies(df_team, prefix=['Team_1', 'Team_2'], columns = ['Team_1', 'Team_2'], dtype=int, sparse=False)
df_team.head()

,Winning,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_England,Team_1_Hong Kong,Team_1_India,Team_1_India,Team_1_Ireland,Team_1_Netherlands,...,Team_2_Ireland,Team_2_Nepal,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_South Africa,Team_2_Sri Lanka,Team_2_United Arab Emirates,Team_2_West Indies,Team_2_Zimbabwe
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
x = df_team.drop(columns=['Winning'], axis=1)
y = df_team['Winning']

In [72]:
# Splitting the data in the training and testing set
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=34)

In [73]:
x_train

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_England,Team_1_Hong Kong,Team_1_India,Team_1_India,Team_1_Ireland,Team_1_Netherlands,Team_1_New Zealand,...,Team_2_Ireland,Team_2_Nepal,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_South Africa,Team_2_Sri Lanka,Team_2_United Arab Emirates,Team_2_West Indies,Team_2_Zimbabwe
806,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
323,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
523,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
710,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
726,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
632,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
619,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
155,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [74]:
y_train

806    1
323    1
92     2
523    2
710    2
      ..
584    1
726    2
632    2
619    2
155    1
Name: Winning, Length: 1591, dtype: int32

In [75]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline

In [76]:
#Define classifiers

classifiers = {
    'Random Forest' : RandomForestClassifier(),
    'Logistic Regression' : LogisticRegression(),
    'Decision Tree' : DecisionTreeClassifier()
}

for name, clf in classifiers.items():
  pipeline = Pipeline([('classifier',clf)])

  pipeline.fit(x_train, y_train)

  #Make Predictions
  y_pred = pipeline.predict(x_test)

  #Calculate the accuracy
  acc = accuracy_score(y_test, y_pred)

  print(f'{name}: ')
  print(f"Accuracy : {acc:.4f}")

Random Forest:
Accuracy : 0.7462
Logistic Regression:
Accuracy : 0.7111
Decision Tree:
Accuracy : 0.7312

In [78]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE

# Splitting the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=34)

# Feature scaling
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# Handling class imbalance using SMOTE
smote = SMOTE()
x_train, y_train = smote.fit_resample(x_train, y_train)

# Define hyperparameters for each classifier
param_grid_rf = {
    'n_estimators': [50, 100, 200],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

param_grid_lr = {
    'C': [0.1, 1, 10],
    'solver': ['liblinear', 'saga']
}

param_grid_dt = {
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Store the best estimators after grid search
best_estimators = {}

# Define classifiers
classifiers = {
    'Random Forest': (RandomForestClassifier(), param_grid_rf),
    'Logistic Regression': (LogisticRegression(), param_grid_lr),
    'Decision Tree': (DecisionTreeClassifier(), param_grid_dt)
}

# Perform hyperparameter tuning and cross-validation
for name, (clf, param_grid) in classifiers.items():
    grid_search = GridSearchCV(clf, param_grid, cv=5, n_jobs=-1, verbose=2)
    grid_search.fit(x_train, y_train)
    
    # Best estimator from grid search
    best_clf = grid_search.best_estimator_
    best_estimators[name] = best_clf  # Store best estimator
    
    # Cross-validation accuracy
    cv_scores = cross_val_score(best_clf, x_train, y_train, cv=5)
    
    # Train on the full training data and evaluate on the test set
    best_clf.fit(x_train, y_train)
    y_pred = best_clf.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    
    print(f'{name}:')
    print(f'Best Parameters: {grid_search.best_params_}')
    print(f'Cross-Validation Accuracy: {cv_scores.mean():.4f}')
    print(f'Test Set Accuracy: {acc:.4f}')
    print('')

# Ensemble voting classifier using the best estimators
ensemble = VotingClassifier(estimators=[
    ('rf', best_estimators['Random Forest']),
    ('lr', best_estimators['Logistic Regression']),
    ('dt', best_estimators['Decision Tree'])
], voting='hard')

ensemble.fit(x_train, y_train)
y_pred_ensemble = ensemble.predict(x_test)
ensemble_acc = accuracy_score(y_test, y_pred_ensemble)

print(f'Ensemble Voting Classifier Accuracy: {ensemble_acc:.4f}')

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Random Forest:
Best Parameters: {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 50}
Cross-Validation Accuracy: 0.7014
Test Set Accuracy: 0.7362

Fitting 5 folds for each of 6 candidates, totalling 30 fits
Logistic Regression:
Best Parameters: {'C': 0.1, 'solver': 'liblinear'}
Cross-Validation Accuracy: 0.6943
Test Set Accuracy: 0.7136

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Decision Tree:
Best Parameters: {'max_depth': 15, 'min_samples_leaf': 2, 'min_samples_split': 10}
Cross-Validation Accuracy: 0.6916
Test Set Accuracy: 0.7186

Ensemble Voting Classifier Accuracy: 0.7387

In [79]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

# Splitting the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=34)

# Feature scaling
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# Handling class imbalance using SMOTE
smote = SMOTE()
x_train, y_train = smote.fit_resample(x_train, y_train)

# Define hyperparameters for each classifier
param_grid_rf = {
    'n_estimators': [50, 100, 200],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

param_grid_lr = {
    'C': [0.1, 1, 10],
    'solver': ['liblinear', 'saga']
}

param_grid_dt = {
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create a dictionary to store best estimators
best_estimators = {}

# Define classifiers and perform hyperparameter tuning
classifiers = {
    'Random Forest': (RandomForestClassifier(), param_grid_rf),
    'Logistic Regression': (LogisticRegression(), param_grid_lr),
    'Decision Tree': (DecisionTreeClassifier(), param_grid_dt)
}

# Hyperparameter tuning and cross-validation
for name, (clf, param_grid) in classifiers.items():
    grid_search = GridSearchCV(clf, param_grid, cv=5, n_jobs=-1, verbose=2)
    grid_search.fit(x_train, y_train)
    
    # Store the best estimator for each classifier
    best_estimators[name] = grid_search.best_estimator_
    
    # Cross-validation accuracy
    cv_scores = cross_val_score(grid_search.best_estimator_, x_train, y_train, cv=5)
    
    # Train and evaluate on the test set
    grid_search.best_estimator_.fit(x_train, y_train)
    y_pred = grid_search.best_estimator_.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    
    print(f'{name}:')
    print(f'Best Parameters: {grid_search.best_params_}')
    print(f'Cross-Validation Accuracy: {cv_scores.mean():.4f}')
    print(f'Test Set Accuracy: {acc:.4f}')
    print('')

# Ensemble voting classifier
ensemble = VotingClassifier(estimators=[
    ('rf', best_estimators['Random Forest']),
    ('lr', best_estimators['Logistic Regression']),
    ('dt', best_estimators['Decision Tree'])
], voting='hard')

# Train ensemble and evaluate
ensemble.fit(x_train, y_train)
y_pred_ensemble = ensemble.predict(x_test)
ensemble_acc = accuracy_score(y_test, y_pred_ensemble)

print(f'Ensemble Voting Classifier Accuracy: {ensemble_acc:.4f}')

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Random Forest:
Best Parameters: {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 50}
Cross-Validation Accuracy: 0.6971
Test Set Accuracy: 0.7261

Fitting 5 folds for each of 6 candidates, totalling 30 fits
Logistic Regression:
Best Parameters: {'C': 0.1, 'solver': 'liblinear'}
Cross-Validation Accuracy: 0.6982
Test Set Accuracy: 0.7085

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Decision Tree:
Best Parameters: {'max_depth': 15, 'min_samples_leaf': 1, 'min_samples_split': 2}
Cross-Validation Accuracy: 0.6937
Test Set Accuracy: 0.7186

Ensemble Voting Classifier Accuracy: 0.7487

In [22]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier()

In [23]:
predictions = rf.predict(x_test)

In [24]:
label_to_team = {1: 'Team_1' , 2:'Team_2'}

Winner =[label_to_team[label] for label in predictions]

print(Winner)

['Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2', 'Team_2', 'Team_1', 'Team_1', 'Team_1', 'Team_2']

In [31]:
import pandas as pd
rankings=world_cup[['Team_ranking','Team_name','Rating']]
rankings.head()

   Team_ranking     Team_name  Rating
0             1         India     118
1             2     Australia     116
2             3  South Africa     112
3             4      Pakistan     106
4             5   New Zealand     101

In [42]:
df1=pd.read_csv("Results (2015-2024) - results.csv")
fixtures=df1.drop(columns=['Winner','Margin'],axis=1)
fixtures.head()

         Date      Team_1    Team_2                         Ground
0  17-04-2015  Bangladesh  Pakistan  Shere Bangla National Stadium
1  19-04-2015  Bangladesh  Pakistan  Shere Bangla National Stadium
2  22-04-2015  Bangladesh  Pakistan  Shere Bangla National Stadium
3  08-05-2015     Ireland   England                    The Village
4  26-05-2015    Pakistan  Zimbabwe                Gaddafi Stadium

In [43]:
pred_set=[]

fixtures.insert(1, 'first_position', fixtures['Team_1'].map(rankings.set_index('Team_name')['Team_ranking']))
fixtures.insert(2, 'second_position', fixtures['Team_2'].map(rankings.set_index('Team_name')['Team_ranking']))

fixtures = fixtures.iloc[:80, :]
fixtures.head()

,Date,first_position,second_position,Team_1,Team_2,Ground
0,17-04-2015,8.0,4.0,Bangladesh,Pakistan,Shere Bangla National Stadium
1,19-04-2015,8.0,4.0,Bangladesh,Pakistan,Shere Bangla National Stadium
2,22-04-2015,8.0,4.0,Bangladesh,Pakistan,Shere Bangla National Stadium
3,08-05-2015,NaN,7.0,Ireland,England,The Village
4,26-05-2015,4.0,NaN,Pakistan,Zimbabwe,Gaddafi Stadium

In [44]:
for index, row in fixtures.iterrows():
  if row['first_position'] < row['second_position']:
    pred_set.append({'Team_1' :row['Team_1'] , 'Team_2' :row['Team_2'] , 'Winning_team' : None })
  else:
    pred_set.append({'Team_1' :row['Team_2'] , 'Team_2' :row['Team_1'] , 'Winning_team' : None })

pred_set = pd.DataFrame(pred_set)

pred_set.head()

     Team_1      Team_2 Winning_team
0  Pakistan  Bangladesh         None
1  Pakistan  Bangladesh         None
2  Pakistan  Bangladesh         None
3   England     Ireland         None
4  Zimbabwe    Pakistan         None

In [45]:
backup_pred_set = pred_set

In [46]:
pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'], dtype=int)

missing_cols = set(df_team.columns) - set(pred_set.columns)

In [49]:
for cols in missing_cols :
  pred_set[cols] = 0

pred_set = pred_set[df_team.columns]

pred_set = pred_set.drop(['Winning'], axis=1)
pred_set.head()

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_England,Team_1_Hong Kong,Team_1_India,Team_1_India,Team_1_Ireland,Team_1_Netherlands,Team_1_New Zealand,...,Team_2_Ireland,Team_2_Nepal,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_South Africa,Team_2_Sri Lanka,Team_2_United Arab Emirates,Team_2_West Indies,Team_2_Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [50]:
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
  print(backup_pred_set.iloc[i,1] + " Vs " + backup_pred_set.iloc[i,0])
  if predictions[i]==1 :
    print('Winner : ' + backup_pred_set.iloc[i,1])
  else :
    print('Winner : ' + backup_pred_set.iloc[i,0])
  print("")

Bangladesh Vs Pakistan
Winner : Bangladesh

Bangladesh Vs Pakistan
Winner : Bangladesh

Bangladesh Vs Pakistan
Winner : Bangladesh

Ireland Vs England
Winner : Ireland

Pakistan Vs Zimbabwe
Winner : Zimbabwe

Pakistan Vs Zimbabwe
Winner : Zimbabwe

Pakistan Vs Zimbabwe
Winner : Zimbabwe

England Vs New Zealand
Winner : New Zealand

England Vs New Zealand
Winner : New Zealand

England Vs New Zealand
Winner : New Zealand

England Vs New Zealand
Winner : New Zealand

Bangladesh Vs India
Winner : Bangladesh

England Vs New Zealand
Winner : New Zealand

Bangladesh Vs India
Winner : Bangladesh

Bangladesh Vs India
Winner : Bangladesh

Bangladesh Vs South Africa
Winner : Bangladesh

Zimbabwe Vs India
Winner : Zimbabwe

Sri Lanka Vs Pakistan
Winner : Sri Lanka

Bangladesh Vs South Africa
Winner : Bangladesh

Zimbabwe Vs India
Winner : Zimbabwe

Zimbabwe Vs India
Winner : Zimbabwe

Sri Lanka Vs Pakistan
Winner : Sri Lanka

Bangladesh Vs South Africa
Winner : Bangladesh

Sri Lanka Vs Pakistan
Winner : Sri Lanka

Sri Lanka Vs Pakistan
Winner : Sri Lanka

Sri Lanka Vs Pakistan
Winner : Sri Lanka

Zimbabwe Vs New Zealand
Winner : Zimbabwe

Zimbabwe Vs New Zealand
Winner : Zimbabwe

Zimbabwe Vs New Zealand
Winner : Zimbabwe

New Zealand Vs South Africa
Winner : New Zealand

New Zealand Vs South Africa
Winner : New Zealand

New Zealand Vs South Africa
Winner : New Zealand

Ireland Vs Australia
Winner : Ireland

England Vs Australia
Winner : England

England Vs Australia
Winner : England

England Vs Australia
Winner : England

England Vs Australia
Winner : England

England Vs Australia
Winner : England

Zimbabwe Vs Pakistan
Winner : Zimbabwe

Zimbabwe Vs Pakistan
Winner : Zimbabwe

Zimbabwe Vs Pakistan
Winner : Zimbabwe

South Africa Vs India
Winner : South Africa

Zimbabwe Vs Afghanistan
Winner : Afghanistan

Zimbabwe Vs Afghanistan
Winner : Afghanistan

South Africa Vs India
Winner : South Africa

Zimbabwe Vs Afghanistan
Winner : Afghanistan

South Africa Vs India
Winner : South Africa

Zimbabwe Vs Afghanistan
Winner : Afghanistan

Zimbabwe Vs Afghanistan
Winner : Afghanistan

South Africa Vs India
Winner : South Africa

West Indies Vs Sri Lanka
Winner : West Indies

West Indies Vs Sri Lanka
Winner : West Indies

Bangladesh Vs Zimbabwe
Winner : Zimbabwe

West Indies Vs Sri Lanka
Winner : West Indies

Bangladesh Vs Zimbabwe
Winner : Zimbabwe

England Vs Pakistan
Winner : Pakistan

Bangladesh Vs Zimbabwe
Winner : Zimbabwe

England Vs Pakistan
Winner : Pakistan

England Vs Pakistan
Winner : Pakistan

England Vs Pakistan
Winner : Pakistan

Afghanistan Vs Zimbabwe
Winner : Zimbabwe

Sri Lanka Vs New Zealand
Winner : Sri Lanka

Sri Lanka Vs New Zealand
Winner : Sri Lanka

Afghanistan Vs Zimbabwe
Winner : Zimbabwe

Sri Lanka Vs New Zealand
Winner : Sri Lanka

Afghanistan Vs Zimbabwe
Winner : Zimbabwe

Sri Lanka Vs New Zealand
Winner : Sri Lanka

Afghanistan Vs Zimbabwe
Winner : Zimbabwe

Sri Lanka Vs New Zealand
Winner : Sri Lanka

Afghanistan Vs Zimbabwe
Winner : Zimbabwe

Australia Vs India
Winner : Australia

Australia Vs India
Winner : Australia

Australia Vs India
Winner : Australia

Australia Vs India
Winner : Australia

New Zealand Vs Pakistan
Winner : New Zealand

New Zealand Vs Pakistan
Winner : New Zealand

New Zealand Vs Pakistan
Winner : New Zealand

New Zealand Vs Australia
Winner : New Zealand

England Vs South Africa
Winner : England

New Zealand Vs Australia
Winner : New Zealand

In [51]:
df3=pd.read_csv("Results (2015-2024) - results.csv")
df3.head()

,Date,Team_1,Team_2,Winner,Margin,Ground
0,17-04-2015,Bangladesh,Pakistan,Bangladesh,won by 79 runs,Shere Bangla National Stadium
1,19-04-2015,Bangladesh,Pakistan,Bangladesh,won by 7 wickets,Shere Bangla National Stadium
2,22-04-2015,Bangladesh,Pakistan,Bangladesh,won by 8 wickets,Shere Bangla National Stadium
3,08-05-2015,Ireland,England,No result,No result,The Village
4,26-05-2015,Pakistan,Zimbabwe,Pakistan,won by 41 runs,Gaddafi Stadium

In [53]:
top_winners = df3['Winner'].value_counts().head(4).index.tolist()

print(f"Top 4 teams : {top_winners}")

Top 4 teams : ['India', 'England', 'New Zealand', 'Australia']

In [54]:
# Predict the single match results of future

def predict_single_match(model, rankings, team_1, team_2):
  single_match_data = pd.DataFrame({
      'Team_1': [team_1],
      'Team_2':[team_2]
  })

  #Insert the team ranking data
  single_match_data.insert(1, 'first_position',single_match_data['Team_1'].map(rankings.set_index("Team_name")['Team_ranking']))
  single_match_data.insert(2, 'second_position',single_match_data['Team_2'].map(rankings.set_index("Team_name")['Team_ranking']))

  # Apply one hot encoding
  single_match_data = pd.get_dummies(single_match_data, prefix = ['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'], dtype=int)

  #Find the missing columns
  missing_cols = set(df_team.columns) - set(single_match_data.columns)

  #Set the missing columns to 0 and then keep only th ecolumns present

  for col in missing_cols:
    single_match_data[col] = 0

  single_match_data = single_match_data[df_team.columns]

  #Drop the winning column
  single_match_data = single_match_data.drop(['Winning'], axis=1)

  #Making the prediction
  prediction = model.predict(single_match_data)

  #print the result
  print(f"{team_1} vs {team_2}")

  if prediction[0] ==1 :
    print(f"Winner: {team_1}")
  else:
    print(f"Winner: {team_2}")

  print((""))

In [57]:
predict_single_match(rf, rankings, "India", "Australia")

India vs Australia
Winner: India

In [58]:
predict_single_match(rf, rankings, "England", "New Zealand")

England vs New Zealand
Winner: England

In [61]:
predict_single_match(rf, rankings, "England", "India")

England vs India
Winner: England

In [60]:
predict_single_match(rf, rankings, "Bangladesh", "New Zealand")

Bangladesh vs New Zealand
Winner: New Zealand